
[shard1]
type=server
address=shard1
port=3306
protocol=MariaDBBackend

[shard2]
type=server
address=shard2
port=3306
protocol=MariaDBBackend

[ShardMonitor]
type=monitor
module=mariadbmon
servers=shard1,shard2
user=maxuser
password=maxpwd
monitor_interval=10000
auto_failover=false

[ShardingService]
type=service
router=schemarouter
user=maxuser
password=maxpwd
servers=shard1,shard2


[ShardingListener]
type=listener
service=ShardingService
protocol=MySQLClient
port=4006

