[server1]
type=server
address=shard1
port=3306
protocol=MariaDBBackend
user=root

[server2]
type=server
address=shard2
port=3306
protocol=MariaDBBackend
user=root

[MyService]
type=service
router=readwritesplit
servers=server1,server2
user=root
master_failure_mode=fail_on_write

[MyListener]
type=listener
service=MyService
protocol=MariaDBClient
port=4006

[Monitor]
type=monitor
module=mariadbmon
servers=server1,server2
user=root
monitor_interval=10000

